<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>用户列表</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<meta name="MobileOptimized" content="320">
	<#include "/common/common_styles.html">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
	<#include "/common/header.html">
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar navbar-collapse collapse">
		<#include "/common/menu.html">
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<div class="clearfix"></div>
			
			<div class="row">
				<div class="col-md-12">				
					<div class="portlet box red ">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-reorder"></i>
								出错啦 ，联系管理员
							</div>
						</div>
						<div class="portlet-body form">
						<br><br>
						&nbsp;&nbsp;&nbsp;&nbsp;详细信息：${exception}
						<br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<#include "/common/bottom.html">
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>