	<!-- BEGIN GLOBAL MANDATORY STYLES -->          
	<link href="${base}/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="${base}/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="${base}/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL PLUGIN STYLES --> 
	<!-- END PAGE LEVEL PLUGIN STYLES -->
	<!-- BEGIN THEME STYLES --> 
	<link href="${base}/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
	<link href="${base}/assets/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="${base}/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="${base}/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
	<link href="${base}/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="${base}/assets/css/custom.css" rel="stylesheet" type="text/css"/>
	<link href="${base}/assets/css/datatable/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<style type="text/css">
	<!--
	div.error{
		border:1px solid red;
	}
	-->
	</style>
	<!-- END THEME STYLES -->